<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>File name:</strong>
  <%= @image.file_name %>
</p>

<p>
  <strong>Binary:</strong>

  <% if Image::PDF_CONTENT_TYPES.include?(@image.content_type) %>
    <object
      type="application/pdf"
      data="/images/file/<%= @image.id %>"
      width="800px"
      height="400px"></object>
    <br>
    <br>
    <%# Google Drive PDF Viewerはlocalhostでは動かない %>
    <% if false %>
      <embed width="800" height="400" src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://localhost:3000/images/file/<%= @image.id %>" />
    <% end %>
  <% else %>
    <%# 雑にbase64で表示の書き方、一応残す %>
    <% if false %>
      <%= ("<img src=\"data:#{@image.content_type};base64,%s\">" % Base64.encode64(@image.binary)).html_safe %>
    <% end %>
    <img src="/images/file/<%= @image.id %>" />
  <% end %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
