<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>File name:</strong>
  <%= @image.file_name %>
</p>

<p>
  <strong>Binary:</strong>
  <%= ("<img src=\"data:#{@image.content_type};base64,%s\">" % Base64.encode64(@image.binary)).html_safe %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
